<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Detail</title>
</head>
<body>
    <header>
        <h1>Skin Detail</h1>
    </header>

    <main>
        <h2>{{ skin.name }}</h2>
        <p>{{ skin.description }}</p>
        <p>Owner: {{ skin.owner.username }}</p>
        <img src="{{ skin.image.url }}" alt="Skin Image">
        <a href="{% url 'blockwardrobeapp:index' %}">Back to Skin List</a>

    </main>

    <footer>
        <p>© 2024 Block Wardrobe</p>
    </footer>
    {{ skin.image.url|json_script:'data' }}
    {% load static %}
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.165.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.165.0/examples/jsm/"
          }
        }
    </script>
    <script src="{% static 'blockwardrobeapp/main.js' %}" type="module"></script>
</body>
</html>